{#{% extends 'mainapp/base.html' %}#}


{% block content %}
    {% csrf_token %}
    {{ form.as_p }}
{% endblock %}


{#{% block content %}#}
{##}
{#    <div class="container col-lg-6 mt-5">#}
{#        <form action="{% url '' %}" method="POST">#}
{#            {% csrf_token %}#}
{#            {% for field in form %}#}
{#                <div class="form-group">#}
{#                    {{ field.label }}#}
{#                    {{ field }}#}
{#                    {% if field.errors %}#}
{#                        <div class="alert alert-danger" role="alert">#}
{#                            Данный продукт уже в корзине#}
{#                        </div>#}
{#                    {% endif %}#}
{#                </div>#}
{#            {% endfor %}#}
{#            <button class='btn btn-danger mt-1' type="button" method="POST">#}
{#                <a style='color: white; text-decoration: None' href="{% url 'main' %}">Назад</a>#}
{#            </button>#}
{#            <button class='btn btn-danger mt-1' type="submit">Добавить#}
{#            </button>#}
{#        </form>#}
{#    </div>#}
{##}
{#{% endblock %}#}

{#{% block content %}#}
{#    <div class="modal" tabindex="-1">#}
{#      <div class="modal-dialog">#}
{#        <div class="modal-content">#}
{#          <div class="modal-header">#}
{#            <h5 class="modal-title">Modal title</h5>#}
{#            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#              <span aria-hidden="true">&times;</span>#}
{#            </button>#}
{#          </div>#}
{#          <div class="modal-body">#}
{#            <p>Modal body text goes here.</p>#}
{#          </div>#}
{#          <div class="modal-footer">#}
{#            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#            <button type="button" class="btn btn-primary">Save changes</button>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#{% endblock %}#}


