{% extends 'mainapp/base.html' %}

{% block content %}

    <div class="container col-lg-6 mt-5">
        <form action="{% url 'goods_add_url' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger" role="alert">
                            Данный продукт уже в корзине
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button class='btn btn-danger mt-1' type="button" method="POST">
                <a style='color: white; text-decoration: None' href="{% url 'main' %}">Назад</a>
            </button>
            <button class='btn btn-danger mt-1' type="submit">Добавить
            </button>
        </form>
    </div>

{% endblock %}