{% extends 'mainapp/base.html' %}

{% block content %}
<div class="container col-lg-6 mt-5">
        <table class="table">
            <tr>
                <th>Название</th>
                <th>Цена</th>
            </tr>
            {% for product in goods %}
                <tr>
                    <td>{{ product.name|title }}</td>
                    <td>{{ product.price }} руб.</td>
                </tr>
            {% endfor %}
        </table>
        <button class='btn btn-danger btn-round mt-2' type="button">
            <a href="{% url 'goods_add_url' %}" style="color: white; text-decoration: None">
                Добавить товар
            </a>
        </button>
</div>

{% endblock %}